<div class="flex items-center">
  <label for="darkModeToggle" class="sr-only">Toggle dark mode</label>
  <div class="relative inline-block w-10 mr-2 align-middle select-none">
    <input 
      type="checkbox" 
      name="darkModeToggle" 
      id="darkModeToggle" 
      class="absolute block w-5 h-5 rounded-full bg-white dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 appearance-none cursor-pointer peer transition-all duration-300 checked:right-0 checked:bg-gray-800 dark:checked:bg-white"
      style="top: 0.2rem; left: 0.2rem;"
    />
    <label 
      for="darkModeToggle" 
      class="block overflow-hidden h-6 rounded-full bg-gray-200 dark:bg-gray-700 cursor-pointer peer-checked:bg-primary peer-checked:dark:bg-primary"
    >
    </label>
  </div>
  <span class="text-gray-800 dark:text-gray-400">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
    </svg>
  </span>
</div> 